<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../public/styles/normalize.css">
  <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Infant" rel="stylesheet">

  <title>Project 2, Team 6 | FantASCII</title>

</head>

<body class="container">
  <div class="row">

    <div class="col-md-12"> 
      <h1 id="gameTitle">FantASCII</h1>
      <h3 id="subtitle">A Choose Your Own Adventure Game</h2>
      <h3 id="credits">Jesse Chen | Matt Gallia | Sam Jacob | Greg Sorkin</h3>
    </div> 

  </div>

  <div class="row backstoryBlock">
    <div class="col-md-12">
      
      <p>
        You are a young blacksmith from a small community of woodcutters. Deep within the forest of your childhood,
        there exists an ancient mausoleum with untold mysteries. But you harbor a deep resentment of the forest.
      </p>

      <p>
        The edge of the forest is relatively safe – at least compared to the deeper parts of the forest’s old growth.
        Every so often, wandering adventurers pass through looking for treasure, but none have ever returned.
      </p>

      <p>
        Your village provisions have run dry and desperation begins to set in. You join a scouting party to enter the
        mausoleum as their last hope . . . . . . . . . . . . . . . . . . . . . .
      </p>
            
    </div>

  </div>

  <div class="row terminal">
    {{{ terminal }}}
  </div>

      
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- jQuery Terminal Hookup  -->
  <script src="https://unpkg.com/jquery.terminal@2.5.0/js/jquery.terminal.min.js"></script>
  <link href="https://unpkg.com/jquery.terminal@2.5.0/css/jquery.terminal.min.css"/>
  <link type="text/javascript" href="../public/js/jQueryTerm.js"/>

</body>

</html>