<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{!-- CSS --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../public/styles/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../public/styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Infant" rel="stylesheet">

  <title>Project 2, Team 6 | FantASCII</title>
</head>

<body>
  {{{body}}}
</body>

</html>
