.container {
  background-image: url("../assets/img/tombBG.jpg");
  background-repeat: no repeat; 
  background-size: cover;
  line-height: 1.5;
  letter-spacing: .16px;
  align-content: center;
  display: block;
} 

@font-face {
  font-family: "Moria Citadel";
  src: url("../assets/fonts/MoriaCitadel.TTF");
}

@font-face {
  font-family: "Atland"; 
  src: url("../assets/fonts/AtlandBB_r.otf")
}

#gameTitle {
  font-family: "Moria Citadel";
  font-size: 50px;
  text-align: center;
  align-content: center;
  color: rgb(255, 0, 51);
}

#subtitle {
  font-family: 'Cormorant Infant', serif;
  font-size: 14px;
  align-content: center;
  text-align: center;
  color: white;
}

#credits {
  font-family: 'Cormorant Infant', serif;
  font-size: 12px;
  align-content: center;
  text-align: center;
  color: white;
  font-style: italic;
}

.backstoryBlock {
  background-color: rgba(151, 135, 135, 0.74);
  padding: 25px;
  margin: 20px auto;
  width: 80%;
  font-family: "Atland";
  font-size: 14px;
  text-align: center;
  color: yellow;
}

.terminal {
  background-color: black;
  padding: 30px;
  margin: auto;
  width: 80%;
  opacity: 0.8;
  align-content: center;
  color: lime;
}

.btn {
  margin: 5px;
}

.green {
  color: lime;
}